.container {
  background-color: #20123A;
  font-family: InterRegular, sans-serif;
  color: white;
  line-height: 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:  "header"
                        "main"
                        "footer";
}

h1,
h2,
h3 { font-family: Metropolis, InterRegular, sans-serif}

h2 { font-size: 1.125em; }

a {
  color: white;
  text-decoration: none;
}
a:hover { text-decoration: underline; }

ul {
    list-style-type: none;
    padding: 0;
}

header ul a,
.mozilla a { text-decoration: underline; }
header ul a:hover,
.mozilla a:hover { text-decoration: none; }

header {
  grid-area: header;
  text-align: center;
  background-image: url("img/firefox-logo.png");
  background-repeat: no-repeat;
  background-position: top 8% center;
  padding-top: 8em;
  background-size: 250px;
  display: flex;
  flex-direction: column;
}

header p {
  font-size: 1.125rem;
  width: 65%;
  margin: 1em auto;
  line-height: 1.5em;
}

header ul {
  font-size: .75rem;
  margin-top: 5rem;
}

footer {
  grid-area: footer;
}

header,
main div,
footer {
  width: 95%;
  margin: auto;
}

header img {
  max-width: 624px;
  margin: auto;
}

header h1 {
  margin: 0;
}

button {
  background-color: rgb(0, 94, 219);
  border: none;
  border-radius: 2px;
  color: white;
  padding: 1em 1.5em;
  font-weight: bold;
}

h6 {
  margin: 1em 0;
}

main {
  grid-area: main;
  padding: 3em 0;
  background-color: white;
  color: black;
}

main div,
footer section {
  display: flex;
  flex-direction: column;
}

.card {
  padding-top: 100px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 1em 0;
}

.card:first-child {
  background-image: url("img/shield.svg");
  background-size: 66px;
}

.card:nth-child(2) {
  background-image: url("img/lockwise.svg");
}

.card:last-child {
  background-image: url("img/monitor.svg");
}

.mozilla {
  display: flex;
}

footer .link-list:nth-child(n-1) {
  margin-right: auto;
}

.link-list li:nth-child(n+1) {
  margin-top: .5em;
}

.link-list li:first-child {
  font-weight: bold;
}

.mozilla ul li {
  display: inline-block;
}

.social-media li {
  margin-bottom: 1em;
}

.social-media li:nth-child(n+2) {
  display: inline-block;
  width: 18px;
  height: 18px;
  overflow: hidden;
  margin-right: 0.5em;
  border-bottom: 1px solid rgba(0,0,0,0);
}

.social-media li:nth-child(n+2)>a {
  color: rgba(0,0,0,0);
}

.social-media li:nth-child(n+2):hover{
  border-bottom: 1px solid #fff;
}

.twitter,
.instagram,
.youtube {
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 16px 16px;
}


.twitter {
  background-image: url('img/tw.svg');
}

.instagram {
  background-image: url('img/ig.svg');
}

.youtube {
  background-image: url('img/yt.svg');
}

@media (min-width: 992px) {

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "header header"
                          "main main"
                          "footer footer";

    background-image: url('img/hero-bg.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50% 50%;
  }

  header,
  main div,
  footer {
    width: 80%;
  }

  header {
    margin-top: 1em;
    text-align: left;
    background-image: url('img/firefox-logo.png');
    background-position: top 5% left;
    padding-bottom: 7em;
    flex-direction: row;
  }

  header div,
  header img {
    width: 50%;
  }

  h1 {
    font-size: 3em;
    line-height: normal;
    padding-bottom: 1em;
  }

  header p {
    margin: 0;
  }

  header button {
    margin-top: 3em;
  }

  header button:hover {
    cursor: pointer;
    background-color: #0055c6;
  }

  header h6 {
    margin-left: 2em;
  }

  h2 { font-size: 1.5em; }

  main div,
  footer section {
    display: flex;
    flex-direction: row;
  }

  .card {
     margin: 0 5em;
  }

  .links {
    padding: 3em 0;
  }

  .mozilla {
    border-top: 1px solid rgba(255,255,255,0.3);
    padding: 3em 0;
    font-size: .75em;
  }

  .mozilla div:first-child {
    width: 70%;
  }

  .mozilla ul li {
    padding-right: 2em;
  }

}
