$numbers-color: #eee;
$operators-color: #3ec2cf;
$equals-color: #3e7acf;


html, body, main { height: 100%; }

body { font-family: "Source Code Pro", monospace; }

.screen {
  background-color: #000;
  color: #fff;
  height: 25%;
  display: flex;
  flex-direction: column;
  min-height: 90px;
  &:nth-child(n) { padding: 0 1em; }
  h2 {
    font-size: 3em;
    margin: auto 0.5em 0.5em 0;
    text-align: right;
  }
}

.buttons {
  font-size: 1.5em;
  display: grid;
  height: 75%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:  "negative clear back divide"
                        "seven eight nine multiply"
                        "four five six minus"
                        "one two three plus"
                        "zero point equals equals";
}

button {
  border: none;
  background-color: $numbers-color;
  &:hover {
    cursor: pointer;
    background-color: darken($numbers-color, 5%);
  }
}

.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
.ten { grid-area: ten; }
.plus { grid-area: plus; }
.minus { grid-area: minus; }
.multiply { grid-area: multiply; }
.divide { grid-area: divide; }
.equals { grid-area: equals; }
.clear { grid-area: clear; }
.point { grid-area: point; }
.back { grid-area: back; }
.negative { grid-area: negative; }

.operator {
  background-color: $operators-color;
   color: #fff;
  + .equals { color: #fff; }
  &:hover { background-color: darken($operators-color, 10%); }
}

.equals {
  background-color: $equals-color;
  &:hover { background-color: darken($equals-color, 10%); }
}


@media screen and (min-width: 600px) {
  body {
    //background: linear-gradient(to right, #4b3ecf, #3ec2cf);
    background: linear-gradient(to right, adjust-hue($equals-color, 30%), $operators-color);
    background-size: contain;
    background-repeat: no-repeat;
  }

  main {
    max-width: 600px;
    margin: auto;
  }

  .screen {
    border-radius: 5px 5px 0 0;
  }
}
