html { height: 100%; }

body {
   background: linear-gradient(45deg, #e66465, #9198e5);
   background-size: contain;
   background-repeat: no-repeat;
   height: 100%;
 }

 main {
   font-family: 'Space Mono', monospace;
   height: 100%;
 }

.screen {
  background-color: #000;
  color: #fff;
  border-radius: 3px 3px 0 0;
  height: 25%;
  display: flex;
  flex-direction: column;
}

h2 {
  margin: 0;
  font-size: 3em;
  margin-top: auto;
  text-align: right;
}

.screen:nth-child(n) {
  padding: 0 1em;
}

.buttons {
  font-size: 1.5em;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:  "negative clear back divide"
                        "seven eight nine multiply"
                        "four five six minus"
                        "one two three plus"
                        "zero point equals equals";
  height: 75%;
}

button {
  border: none;
  background-color: #eee;
  min-height: 100px;
}

.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
.ten { grid-area: ten; }

.plus { grid-area: plus; }
.minus { grid-area: minus; }
.multiply { grid-area: multiply; }
.divide { grid-area: divide; }
.equals { grid-area: equals; }

.clear { grid-area: clear; }
.point { grid-area: point; }
.back { grid-area: back; }
.negative { grid-area: negative; }

.operator {
  background-color: #9564E2;
}

.equals {
  background-color: #DF3F7C;
}

button:hover {
  cursor: pointer;
  background-color: #ddd;
}

@media screen and (min-width: 768px) {
   main {
     max-width: 600px;
     margin: auto;
   }
}
