<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>To-Do List</title>
  </head>
  <body>
    <main>
      <h1>{{title}}</h1>
      <ul class="toDoUL">
        <li v-for="(item, index) in todos">
          <span v-bind:class="item.class">{{item.text}}</span>
          <div class="btn-group">
            <button v-on:click="toggleCompleted(index)" class="btn btn-outline-primary btn-sm">Complete</button>
            <button v-on:click="todos.splice(index,1)" class="btn btn-outline-primary btn-sm">Delete</button>
          </div>
        </li>
        <li>
          <input v-model="newToDo" v-on:keypress.enter="addToDo" type="text" name="add" value="">
          <button v-on:click="addToDo" class="btn btn-outline-primary add">Add</button>
          <br>
        </li>
      </ul>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script type="text/javascript" src="todos.js"></script>
  </body>
</html>
