body {
  font-family: 'Source Code Pro', sans-serif;
}

.jumbotron {
  background: rgb(79,161,219);
  background: radial-gradient(circle, rgba(79,161,219,1) 0%, rgba(79,91,219,1) 80%);
  padding: 1em 2em;
  color: #fff;
  text-align: center;
}

h1 {
  font-weight: 900;
  margin: 1em 0;
}

input {margin-right: .5em;}

main {
  width: 80%; margin: auto;
  @media screen and (min-width: 992px) {
    width: 60%;
  }
}

li input[type="text"] {
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  padding: .5em 1em;
  display: flex;
  &:nth-last-child(n+2) {
    border-bottom: 1px solid #ddd;
  }
  &:hover {
    transition: 500ms;
    background-color: #f4f4f4;
  }
}

.incomplete {
  text-decoration: none;
}

.complete {
  text-decoration: line-through;
  color: lighten(#000, 60%);
}

.dropdown {
  margin-left: auto;
}
