html { height: 100%; }
body {
  height: 100%;
  font-family: 'Nunito', sans-serif;
  background: rgb(79,161,219);
  background: linear-gradient(to bottom right, rgba(79,161,219,1), rgba(79,91,219,1));
  background-repeat: no-repeat;
  color: #fff;
}

.jumbotron {
  background-color: rgba(0,0,0,0);
  padding: 1em 2em;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

h1 {
  margin: 1em 0;
}

input {margin-right: .5em;}

main {
  width: 80%; margin: auto;
  @media screen and (min-width: 992px) {
    width: 60%;
  }
}

li input[type="text"] {
  width: 100%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  padding: .5em 1em;
  display: flex;
  &:nth-last-child(n+2) {
    border-bottom: 1px solid rgba(255,255,255,0.25);
    &:hover {
      transition: 500ms;
      background-color: rgba(255,255,255,0.1);
    }
  }
}

.incomplete {
  text-decoration: none;
}

.complete {
  text-decoration: line-through;
  color: rgba(255,255,255,0.4);
}

.dropdown {
  margin-left: auto;
}
